.pos {
	font-size: .5em;
	font-weight: normal;
}

#ajax-content {
	margin-top: 2em;
	background-color: white;
}

#header {
	z-index: 15;
	background-color: #56517c;
	padding: .4em;
	height: 3em;
	display: flex;
	height: 3em;
}

#search-form {
	flex-basis: 100%;
}

#search-widget {
	height: 100%;
}

#search-bar {
	width: 100%;
	border: 1px solid lightgray;
	padding: .3em;
}

h1, h2, h3 {
	margin: .5em 0;
}

body {
	font-family: serif;
}

li {
    margin-top: .2em;
}
